// base color
$blue: #409EFF;
$lightBlue: #75B9BE;
$red: #C03639;
$pink: #E65D6E;
$tiffany: #4AB7BD;
$yellow: #FEC171;
$green: #4FC08D;
$panGreen: #3FB984;
$deepGreen: #488466;
$bgGreen: #EDFAF4;
$purple: #7C77B9;
$white: #FFFFFF;
$grey: #606266;
$lightGrey: #eee;
$panGrey: #909399;

// sidebar
$sideBarWidth: 210px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  sideBarWidth: $sideBarWidth;
}
